    - name: Copy systemd service
      copy:
        dest: /etc/systemd/system/devsecops-app.service
        mode: '0644'
        content: |
          [Unit]
          Description=DevSecOps App
          After=network.target docker.service

          [Service]
          Type=simple
          User=root
          WorkingDirectory=/opt/app/src
          ExecStart=/usr/bin/python3 main.py
          Restart=on-failure
          RestartSec=5

          [Install]
          WantedBy=multi-user.target

    - name: reload systemd
      command: systemctl daemon-reload

    - name: enable service
      service:
        name: devsecops-app
        state: started
        enabled: yes

    - name: Create Docker daemon config to limit privileges
      copy:
        dest: /etc/docker/daemon.json
        content: |
          {
            "no-new-privileges": true
          }
      notify:
        - Restart docker

  handlers:
    - name: Restart docker
      service:
        name: docker
        state: restarted
